<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audit Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/form.css}" href="../../css/form.css" />
</head>
<body> +
<form action="#" th:action="@{'/auditee/'+${audit.id}}" th:object="${audit}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{token}"/>
    <fieldset>
        <legend>Audit Information:</legend>
        Refenece Number: <input type="text" th:field="*{referenceNo}" id="referenceNo"/>
        <br/>
        PIC: <input type="text" th:field="*{pic}" id="pic"/>
        <br/>
        Auditor: <input type="text" th:field="*{auditor}" id="auditor"/>
        <br/>
        Audit Issue: <input type="text" th:field="*{auditIssue}" id="auditIssue"/>
        <br/>
        Comment:
        <br/>
        <br/>
        <textarea  rows = "20" cols = "80" th:field = "*{comment}" ></textarea>
        <br/>
        <br/>
        <br/>
        File: <input type="file" name="auditeeFile" />
        <br/>
        <br/><br/>
        <input type="submit" value="Submit"/>
    </fieldset>
</form>
</body>
</html>