<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Audit</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
    </head>
    <body>
        <form action="#" th:action="@{/audits/form}" method="GET">
            <input type="submit" value="Tambah Data" align="center"/>
        </form>
        <table>
            <tr>
                <th>Tahun Audit</th>
                <th>Auditor</th>
                <th>Domain</th>
                <th>Unit</th>
                <th>PIC</th>
                <th>Isu Audit</th>
                <th>Deskripsi Isu Audit</th>
                <th>Action Plan</th>
                <th>Level Resiko</th>
                <th>Outstanding Action Plan</th>
                <th>Initial Due Date</th>
                <th>Reschedule I</th>
                <th>Reschedule II</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr th:each="audit : ${audits}">
                <td th:text="${audit.auditYear}">tahun audit</td>
                <td th:text="${audit.auditor}">auditor</td>
                <td th:text="${audit.domain}">domain</td>
                <td th:text="${audit.unit}">unit</td>
                <td th:text="${audit.pic}">pic</td>
                <td th:text="${audit.auditIssue}">audit issue</td>
                <td th:text="${audit.auditIssueDescription}">Audit Issue Description</td>
                <td th:text="${audit.actionPlan}">actionPlan</td>
                <td th:text="${audit.riskLevel}">riskLevel</td>
                <td th:text="${audit.outstandingActionPlan}">outstandingActionPlan</td>
                <td th:text="${audit.initialDueDate}">initialDueDate</td>
                <td th:text="${audit.firstRescheduled}">firstRescheduled</td>
                <td th:text="${audit.secondRescheduled}">secondRescheduled</td>
                <td th:text="${audit.status}">status</td>
                <td><a th:href="${'/audits/' + audit.id}+ '/view'">Edit</a> |
                    <a th:href="${'/audits/' + audit.id}+ '/delete'">Delete</a>
                </td>
            </tr>
        </table>
    </body>
</html>