<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Data Audit</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--<div th:if="${not #lists.isEmpty(audits)}">-->
    <div>
        <h2>Data Audit</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Tahun Audit</th>
                <th scope="col">Auditor</th>
                <th scope="col">Domain</th>
                <th scope="col">Unit</th>
                <th scope="col">PIC</th>
                <th scope="col">Action</th>
                <!--<th scope="col">Isu Audit</th>-->
                <!--<th scope="col">Deskripsi Isu Audit</th>-->
                <!--<th scope="col">Action Plan</th>-->
                <!--<th scope="col">Level Resiko</th>-->
                <!--<th scope="col">Outstanding Action Plan</th>-->
                <!--<th scope="col">Initial Due Date</th>-->
                <!--<th scope="col">Reschedule I</th>-->
                <!--<th scope="col">Reschedule II</th>-->
                <!--<th scope="col">Status</th>-->
                <!--<th scope="col">Action</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="audit : ${audits}">
                <td th:text="${audit.auditYear}">tahun audit</td>
                <td th:text="${audit.auditor}">auditor</td>
                <td th:text="${audit.domain}">domain</td>
                <td th:text="${audit.unit}">unit</td>
                <td th:text="${audit.pic}">pic</td>
                <!--<td th:text="${audit.auditIssue}">audit issue</td>-->
                <!--<td th:text="${audit.auditIssueDescription}">Audit Issue Description</td>-->
                <!--<td th:text="${audit.actionPlan}">actionPlan</td>-->
                <!--<td th:text="${audit.riskLevel}">riskLevel</td>-->
                <!--<td th:text="${audit.outstandingActionPlan}">outstandingActionPlan</td>-->
                <!--<td th:text="${audit.initialDueDate}">initialDueDate</td>-->
                <!--<td th:text="${audit.firstRescheduled}">firstRescheduled</td>-->
                <!--<td th:text="${audit.secondRescheduled}">secondRescheduled</td>-->
                <!--<td th:text="${audit.status}">status</td>-->
                <td><a th:href="${'/audits/' + audit.id}+ '/view'">Show Details</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>