<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Data Audit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/form.css}" href="../../css/form.css" />
</head>
<body>
<h2>Form Data Audit</h2>
<form action="#" th:action="@{/audits/form}" th:object="${audit}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label for="auditYear">Tahun Audit</label>
    <input type="text" th:value="${#dates.year(#dates.createNow())}" th:name="auditYear" id="auditYear" />

    <label for="auditor">Auditor</label>
    <input type="text" th:field="*{auditor}" id="auditor"/>

    <label for="domain">Domain</label>
    <input type="text" th:field="*{domain}" id="domain"/>

    <label for="unit">Domain</label>
    <input type="text" th:field="*{unit}" id="unit" />

    <label for="pic">PIC</label>
    <input type="text" th:field="*{pic}" id="pic"/>

    <label for="auditIssue">Audit Issue</label>
    <input type="text" th:field="*{auditIssue}" id="auditIssue" />

    <label for="auditIssueDescription">Audit Issue Description</label>
    <input type="text" th:field="*{auditIssueDescription}" id="auditIssueDescription" />

    <label for="actionPlan">Action Plan</label>
    <input type="text" th:field="*{actionPlan}" id="actionPlan" />

    <label for="riskLevel">Risk Level</label>
    <select th:field="*{riskLevel}" id="riskLevel">
        <option th:value="LOW">LOW</option>
        <option th:value="MEDIUM">MEDIUM</option>
        <option th:value="HIGH">HIGH</option>
    </select>

    <label for="outstandingActionPlan">Outstanding Action Plan</label>
    <input type="text" th:field="*{outstandingActionPlan}" id="outstandingActionPlan"  />

    <label for="initialDueDate">Initial Due Date</label>
    <input type="date" th:field="*{initialDueDate}" id="initialDueDate" />

    <label for="firstRescheduled">Reschedule I </label>
    <input type="date" th:field="*{firstRescheduled}" id="firstRescheduled" />

    <label for="secondRescheduled">Reschedule II </label>
    <input type="date" th:field="*{secondRescheduled}" id="secondRescheduled" />

    <label for="status">Status </label>
    <select th:field="*{status}" id="status">
        <option th:value="NEW">NEW</option>
        <option th:value="ON_PROGRESS">ON PROGRESS</option>
        <option th:value="DONE">DONE</option>
    </select>

    <input type="submit" value="Submit"/>

</form>
</body>
</html>